@model OchronaDanych_291118.Models.ChangePasswordViewModel
<!DOCTYPE HTML>
<html lang=pl>
<head>
    <script src="~/js/Home/Register.js"></script>
    <link href="~/css/Home/Login.css" rel="stylesheet" />
    <title>Zmień hasło</title>
</head>
<body>
    @{
        ViewData["Title"] = "Zmień hasło";
    }
    <h2 style="margin-bottom: 20px;">@ViewData["Title"]</h2>

    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
<div id="OldPassword" class="form-group">
    <div>
        <label>Stare hasło</label><p style="display:inline; color:red">*</p>
    </div>
    @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control inputPass", @maxlength = "120", @id = "oldPassword", @type = "password" } })<img alt="Brak zdjęcia" src="~/images/closedEyeSmall.png" id="oldPasswordSpan" class="showPasswordImage" onclick="showPassword('oldPassword')">
    <div>
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @style = "color: red; font-weight: bold;" })
    </div>
</div>
        <div id="NewPassword" class="form-group">
            <div>
                <label>Nowe hasło</label><p style="display:inline; color:red">*</p>
            </div>
            @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control inputPass", @maxlength = "120", @id = "newPassword", @type = "password" } })<img alt="Brak zdjęcia" src="~/images/closedEyeSmall.png" id="newPasswordSpan" class="showPasswordImage" onclick="showPassword('newPassword')">
            <div>
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @style = "color: red; font-weight: bold;" })
            </div>
        </div>
        <div id="NewRepeatPassword" class="form-group">
            <div>
                <label>Powtórz nowe hasło</label><p style="display:inline; color:red">*</p>
            </div>
            @Html.EditorFor(m => m.NewRepeatPassword, new { htmlAttributes = new { @class = "form-control inputPass", @maxlength = "120", @id = "newRepeatPassword", @type = "password" } })<img alt="Brak zdjęcia" src="~/images/closedEyeSmall.png" id="newRepeatPasswordSpan" class="showPasswordImage" onclick="showPassword('newRepeatPassword')">
            <div>
                @Html.ValidationMessageFor(m => m.NewRepeatPassword, "", new { @style = "color: red; font-weight: bold;" })
            </div>
        </div>
        <div class="form-group">
            <input id="submit" type="submit" class="btn btn-primary" />
        </div>
    }
</body>
</html>